/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
#bodyi{
  height: 120%;
  background-image:url("bg_1.jpg.webp") ;
  width: auto;
  /* height: 100vh; */
  background-repeat: no-repeat;
  background-size: 100% 100%;

}
#bodyabout{
  /* height: 100%; */
  background-image:url("bg_1.jpg.webp") ;
  width: auto;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin-top: 0px;
  display: grid;

}
.navbar1 
{
  /* margin: auto; */
  display: flex;
  justify-content: center;
  
  /* width: auto;
  height: auto; */
  
}
.kkf1 
{
  /* margin: 0px 0px 0px 0px; */
  text-align: center;
  justify-content: center;
  margin: auto;
  
}
.kkf2 
{
  
  text-align: center;
 
}
#cardhoverr
{
  background-color: whitesmoke;
  width:140px;
  border-radius:4px; 
  margin-right: 15px;
  margin-bottom: 15px;

}
#cardhoverr:hover
{
  background-color: #ff414d;
  color: white;
}
#cardhover1
{
  color: #ff414d;
}

#cardhoverr:hover
#cardhover1
{
  color: white;
}

#cardhover2
{
  color: black;
}

#cardhoverr:hover
#cardhover2
{
  color: white;
}

#cardhover3
{
  color: #ff414d;
}
#cardhoverr:hover
#cardhover3
{
  color: white;
}
#cardhover4
{
  color: black;
}
#cardhoverr:hover
#cardhover4
{
  color: white;
}